<div class="container mx-auto">
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <% if restaurant_owner_signed_in? %>
        <h4><%= current_restaurant_owner.name %> - <%= current_restaurant_owner.email %></h4>
        <ul>
          <li>
            <%# link_to_if current_restaurant_owner.restaurant.present?, 'Dashboard', restaurant_path(current_restaurant_owner.restaurant) %>
          </li>
        </ul>
      <% else %>
        <li><%= link_to t('links.restaurant_owner_log_in'), new_restaurant_owner_session_path %></li>
      <% end %>
    </ul>
  </nav>
</div>